<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Title</title>
</head>
<body>
<header>
    <div id="titlecont"><h1>My Shop</h1></div>
    <div><a href="/only-available" class="Button">ONLY AVAILABLE</a><a href="/cheapest-first" class="Button">CHEAPEST FIRST</a><a href="/contains-nike" class="Button">CONTAINS NIKE</a><a href="/average-stock" class="Button">AVERAGE STOCK</a><a href="" class="Button">MOST EXPENSIVE AVAILABLE</a></div>
</header>
<p id="average" th:text="'Average stock: ' + ${average}"></p>
</body>
</html>