<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div><ul class="nav"><li><h1 id="title">Fox Club</h1></li>
    <li><a href="/login" class="Button">Login</a></li>
    <li><a display="disabled" class="Button">Nutrition Store</a></li>
    <li><a display="disabled" class="Button">Trick Center</a></li></ul></div>
<h1>Welcome to Programmer Fox Club!</h1>
<form method="post" action="/name">
    <p>Please provide a name, so you can associate to your pet!</p>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="Go">
</form>
</body>
</html>