<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div><ul class="nav"><h1 id="title">Fox Club</h1><li><a href="/information" class="Button">Information</a></li><li><a href="/login" class="Button">New fox / Login</a></li></ul></div>
<h1>Welcome to Programmer Fox Club!</h1>
<form method="post" action="/name">
    <p>Please provide a name, so you can associate to your pet!</p>
    <label for="name">Name</label>
    <input type="text" id="name" name="new-name">
    <input type="submit" value="Go">
</form>
</body>
</html>