<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div><ul class="nav"><li><h1 id="title">Fox Club</h1></li>
    <li><a href="/login" class="Button">Login</a></li>
    <li><a th:href="@{/nutritionStore(name=${name})}" class="Button">Nutrition Store</a></li>
    <li><a th:href="@{/trickCenter(name=${name})}" class="Button">Trick Center</a></li></ul></div>
<div id="formdiv">
    <h1>Set diet of this fox:</h1>
    <h3 id="name" th:text="${name}"></h3>
<form method="post" action="/nutrition">
    <input type="hidden" name="name" th:value="${name}">
    <label for="food">Food</label>
    <select id="food" name="new-food">
        <option value="zucchini">zucchini</option>
        <option value="chips">chips</option>
        <option value="fish">fish</option>
        <option value="hamburger">hamburger</option>
        <option value="pizza">pizza</option>
    </select>
    <label for="drink">Drink</label>
    <select id="drink" name="new-drink">
        <option value="lemonade">lemonade</option>
        <option value="water">water</option>
        <option value="beer">beer</option>
        <option value="coffee">coffee</option>
        <option value="burn">burn</option>
    </select>
    <input type="submit" value="Change">
</form>
</div>
</body>
</html>