<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div><ul class="nav"><h1 id="title">Fox Club</h1><li><a href="/login" class="Button">Information</a></li><li><a href="/nutritionStore" class="Button">Nutrition Store</a></li><li><a href="/trickCenter" class="Button">Trick Center</a></li></ul></div>
<div id="formdiv">
<form method="post" action="/name">
    <label for="food">Food</label>
    <select id="food" name="new-food">
        <option value="zucchini">zucchini</option>
        <option value="chips">chips</option>
        <option value="fish">fish</option>
        <option value="hamburger">hamburger</option>
        <option value="pizza">pizza</option>
    </select>
    <label for="drink">Drink</label>
    <select id="drink" name="new-drink">
        <option value="lemonade">lemonade</option>
        <option value="water">water</option>
        <option value="beer">beer</option>
        <option value="coffee">coffee</option>
        <option value="burn">burn</option>
    </select>
    <input type="submit" value="Change">
</form>
</div>
</body>
</html>