<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<table>
    <thead>
    <td>Name</td>
    <td>Balance</td>
    <td>Animal type</td>
    <td>Index of element</td>
    <td>Good or Bad</td>
    </thead>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.getName()}"></td>
        <td th:text="${account.getBalance()}"></td>
        <td th:text="${account.getAnimalType()}" th:attr="class=${account.kingStyleClass}"></td>
        <td th:text="${accountStat.index}"></td>
        <td th:text="${account.getGood()} ? 'GOOD' : 'BAAD'"></td>
    </tr>



</table>

</body>
</html>