<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/todo/add">
    <input type="text" placeholder="Add new" name="new">
    <input type="submit" value="Add">
</form>
<table>
    <thead>
    <td>Done</td>
    <td>Title</td>
    <td>Urgent</td>
    </thead>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td><a th:href="@{/todo/delete(${todo.id})}" class="deletebutton">Delete</a></td>
    </tr>
</table>
</body>
</html>